@media only screen and (min-width: 32.5em) {
    /* MULTIPLE CONTENT */
    header, main, footer {border-radius: 15px;}
    
    /* HEADER */
    header {
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
    }
    h1 {margin: 0.67em;}
}